@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    font-family: 'Pacifico', cursive;
}

div {
    height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: papayawhip;
}

p {
    font-family: 'Pacifico', cursive;
    font-size: 52px;
    width: 300px;
    color: palevioletred;
}